@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Karla', sans-serif;
    background-color: rgb(240, 240, 240);
}

main {
    display: grid;
    grid-template-areas: 
    "topic-1 topic-1"
    "topic-2 topic-3" ;
    width: 600px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 50px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.192);

}

.topic-1 {
    grid-area: topic-1;
    background-color: white;
    padding: 30px 35px 35px 35px;
}

.topic-1 > h1 {
    margin-bottom: 25px;
    color: hsl(179, 62%, 43%);
}

.topic-1 > h2 {
    margin-bottom: 15px;
    font-size: 18px;
    color: hsl(71, 73%, 54%);
}

.topic-1 > p {
    color: hsl(218, 22%, 67%);
}

.topic-2 {
    grid-area: topic-2;
    background-color: rgb(43, 180, 177);
    width: 300px;
    padding: 35px 20px 30px 35px;
    color: white;
    
}

.topic-2 > h2 {
    margin-bottom: 20px;
    font-size: 1.1rem;
    
}

.topic-2 > .sub {
    display: flex;
    padding-bottom: 10px;
    
}


.topic-2 > .sub > .number {
    font-size: 1.6rem;
    font-weight: 600;
    padding-right: 12px;
}


.topic-2 > .sub > .light {
    margin-top: 4px;
    color: hsl(204, 43%, 93%);
    
}

.topic-2 > p {
    padding-bottom: 30px;
}

.topic-2 > button {
    background-color: hsl(71, 73%, 54%);
    color: white;
    padding: 10px 90px 10px 90px;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.37);
}

.topic-2 > button:hover {
    background-color:hsl(59, 60%, 58%) ;
    cursor: pointer;
}

.topic-3 {
    grid-area: topic-3;
    background-color: rgb(73, 190, 189);
    color: white;
    width: 300px;
    padding: 35px 55px 30px 35px;
}

.topic-3 > h2 { 
    padding-bottom: 13px;
    font-size: 1.1rem;
}

.topic-3 > p {
    font-size: 1rem;
}


@media screen and (max-width: 500px) {
    main {
        display: flex;
        flex-direction: column;
        width: 300px;
        
    }
    
}
