@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Karla', sans-serif;
    background-color: rgb(240, 240, 240);
}

main {
    display: grid;
    grid-template-areas: 
    "topic-1 topic-1"
    "topic-2 topic-3" ;
    width: 600px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 50px;

}

.topic-1 {
    grid-area: topic-1;
    background-color: white;
    padding-top: 30px;
    padding-left: 35px;
}

.topic-1 > h1 {
    margin-bottom: 25px;
}

.topic-1 > h2 {
    margin-bottom: 15px;
    font-size: 18px;
    color: hsl(71, 73%, 54%);
}

.topic-1 > p {
    margin-bottom: 35px;
    color: hsl(218, 22%, 67%);
}

.topic-2 {
    grid-area: topic-2;
    background-color: rgb(43, 180, 177);
    width: 300px;
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 30px;
    color: white;
    
}

.topic-2 > h2 {
    margin-bottom: 15px;
    font-size: 16px;
    
}

.topic-3 {
    grid-area: topic-3;
    background-color: rgb(73, 190, 189);
}

